# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
compile_commands.json

# Build directories
build/

# IDE specific files
.vscode/
.idea/

# Latex auxiliary files
*.aux
*.log
*.nav
*.snm
*.toc
*.synctex.gz
*.vrb

# vcpkg installed libraries
vcpkg_installed/
